body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header img {
    margin-left: 20px;
  }
  
  header h1 {
    flex-grow: 1;
    text-align: center;
  }
  
  nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 2em;
    margin: auto;
    max-width: 800px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  a.button {
    text-decoration: none;
    display: inline-block;
  }
  